:root {
    --burgundy: #800020;
    --burgundy-dark: #4a0012;
    --text-dark: #222;
    --light-bg: #da9f93; 
    --light-pink: #ebd4cb;
}

header {
    background-color: var(--burgundy-dark);
    color: white;
}

main {
    padding-top: 40px;
}

section {
    background-color: var(--light-bg);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}


body {
    background-color: var(--light-pink);
    color: var(--text-dark);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    margin-bottom: 20px;
    color: var(--burgundy-dark);
}

img {
    border: 4px solid var(--light-pink);
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: var(--burgundy-dark);
    color: white;
    font-size: 0.9rem;
}