:root {
    --burgundy: #800020;
    --burgundy-dark: #4a0012;
    --text-dark: #222;
    --light-bg: #da9f93; 
    --light-pink: #ebd4cb;
}

header {
    background-color: var(--burgundy-dark);
    color: white;
}

main {
    padding-top: 40px;
}

section {
    background-color: var(--light-bg);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}


body {
    background-color: var(--light-pink);
    color: var(--text-dark);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    margin-bottom: 20px;
    color: var(--burgundy-dark);
}

h2, h3 {
    color: var(--burgundy);
}

img {
    border: 6px solid var(--light-pink);
    max-width: 100%;
    height: auto;
}


.card {
    border: 2px solid var(--burgundy);
    border-radius: 8px;
}

.card-title {
    color: var(--burgundy);
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.2s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

footer {
    background-color: var(--burgundy-dark);
    color: white;
    font-size: 0.9rem;
}

.table {
    background-color: var(--burgundy);
        color: var(--burgundy-dark);
}