:root {
    --burgundy: #800020;
    --burgundy-dark: #4a0012;
    --text-dark: #222;
    --light-bg: #da9f93; 
    --light-pink: #ebd4cb;
    --darker-pink: #ce8480;
}

header {
    background-color: var(--burgundy-dark);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: var(--burgundy-dark);
}

.navbar-toggler {
    border-color: white;
}


main {
    padding-top: 40px;
}

.content-box {
    background-color: var(--light-bg);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.intro-section {
    background-color: var(--darker-pink)
}

body {
    background-color: var(--light-pink);
    color: var(--text-dark);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}

h1 {
    margin-bottom: 20px;
    color: var(--burgundy-dark);
    font-weight: 530;
}

h2, h3 {
    color: var(--burgundy);
}

img {
    border: 6px solid var(--light-pink);
    max-width: 100%;
    height: auto;
}

.welcome {
    border-radius: 10px;
    width: 300px; 
    height: 200px; 
    object-fit: cover;
}

.me-cartoon {
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    object-fit: cover;
}

@media (max-width: 768px) {
    .me-cartoon {
        margin-top: 20px;
    }
}

.arrow {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .arrow {
        margin-top: 20px;
    }
}

a {
    color: var(--burgundy);
}

a:hover {
    color: var(--burgundy-dark);
}

.card {
    border: 2px solid var(--burgundy);
    border-radius: 8px;
}

.card-title {
    color: var(--burgundy);
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.2s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

footer {
    background-color: var(--burgundy-dark);
    color: white;
    font-size: 0.9rem;
}

table {
    border-radius: 10px;
    overflow: hidden;
}

.table {
    background-color: var(--burgundy);
    color: var(--light-pink);
    border: 4px solid var(--light-bg);
    border-radius: 10px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

.table th,
.table td {
    background-color: var(--burgundy);
    color: var(--light-pink);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: var(--burgundy-dark) !important;
    color: var(--light-pink);
}

.alert {
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}